.sidebar {
    flex: 0.23;
    height: calc(100vh - 82px);
    color: white;
    position: relative;
    /* min-width: 250px; */
    /* width: 20%; */
    max-width: 300px;
    margin-top: 4px;
    margin-left: 4px;
    transition: all 0.2s ease-in;
}

.sidebar__rolled {
    max-width: 72px;
    min-width: 72px;
    height: calc(100vh - 82px);
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 4px;
    margin-left: 4px;
}

.compose__sidebar__btn {
    cursor: pointer;
    display: flex;
    gap: 12px;
    margin-left: 4px;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: space-between;
    border: none;
    border-radius: 12px;
    padding: 1rem 1.4rem;
}

.compose__sidebar__btn > span {
    color: gray;
}

.sidebar__options {
    margin-top: 12px;
}

.sidebar__options > a {
    text-decoration: none;
}

.hidden__icons {
    display: none;
    overflow: hidden;
}

.active__icons {
    overflow: visible;
    display: block;
}

.toggle__theme__section {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
